.logo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 2.6rem 1rem;
    font-size: 2rem;
    letter-spacing: 2px
  }
  
  .bg-light{
    background-color: white !important;
  }
  
  .sidebar-container{
    background-color: #efb810;
    min-height: 100vh;
  }
  
  .menu{
    width: 18rem;
  }
  
  a{
    text-decoration: none;
  }
  
  .d-block{
    padding: 1vw;
  }
  
  .avatar{
    max-width: 35px;
  }
  
  