<div class="sidebar-container">
        <div class="logo">
            <h4>MecaniApp</h4>
        </div>
        <div class="menu">
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-car" style="margin: 0px 1.5em 0px 1.5em;"></i>Talleres
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: transparent; border: none;">
                  <li><a class="dropdown-item" href="#"><i class="fa fa-users" style="margin: 0px 1.5em 0px 1.5em;"></i>Registrar</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa fa-inbox" style="margin: 0px 1.5em 0px 1.5em;"></i>Solicitudes</a></li>
                </ul>
              </div>
        </div>
</div>
