<div class="row">
    <div class="col-sm-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-6">
                <br><br>
                <form class="form-floating">
                    <input type="text" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="Talleres Vargas">
                    <label for="floatingInputValue">Nombre taller mecánico:</label>
                </form>
                <br>
                <form class="form-floating">
                    <input type="text" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="Antonio José de Sucre Oe9-136, Quito 170301">
                    <label for="floatingInputValue">Dirección:</label>
                </form>
                <br>
                        <button type="button" class="btn btn-outline-dark">Guardar</button>
            </div>
        </div>
        

    </div>

</div>
