<div class="sidebar-container" style="background-color: #efb810;">
    <div class="logo">
      <a routerLink="home">
        <h4>MecaniApp</h4>
      </a>
      <br>
      <div>
          <img class="mechanic-photo" src="../../../assets/images/avatar.png">
      </div>
    </div>
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-outline-dark btn-sm" style="  font-weight: bold;"><i class="fa fa-user"></i> Perfil</button>
        <br>
        <button type="button" class="btn btn-outline-dark btn-sm" style=" font-weight: bold;"><i class="fa fa-cogs"></i> Taller</button>
        <br>
        <button type="button" class="btn btn-outline-dark btn-sm" style="  font-weight: bold;"><i class="fa fa-exclamation-circle"></i> Notificaciones</button>
        <br>
    </div>
</div>

