<section class="mechanical">
    <div class="row">
        <div class="col-sm-3">
            <app-sidebarmechanic></app-sidebarmechanic>
        </div>
        <div class="col-sm-9">
            <div class="form1">
                <br>
                <h1 class="title">Información del Taller</h1>
                <br>
                <div class="row">
                    <div class="col-sm-4"> 
                        <div class="form-group">
                            <label for="uname">Nombre:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca el nombre del taller mecánico" name="uname" required>
                            <div class="valid-feedback">Nombre válido.</div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Dirección:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca la dirección" name="uname" required>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Servicios:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Mecánica
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Hojalatería y Pintura Automotriz
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Electricidad Automotriz
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Estética Automotriz
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Venta y montaje de llantas
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Escáner
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Electricidad Automotriz
                                </label>
                              </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="uname">Hora de apertura:</label>
                            <input type="text" class="form-control" id="uname" placeholder="07:00 am" name="uname" required>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Hora de cierre:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="17:00 pm" required>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Facebook:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@TalleresVargas" required>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Instagram:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@TalleresVargas" required>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Foto taller mecánico:</label>
                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                        <br>
                    </div>
                </div>
                <hr>
            </div>
            <div class="btnsend">
                <button style="text-align: center;" type="button" class="btn-dark">Guardar</button>
            </div>
        </div>
    </div>

</section>
