  .logo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 2.6rem 1rem;
  }

  .logo h4{
    font-size:  3vw;
    letter-spacing: 2px;
  }
  
  .sidebar-container{
    background-color: #efb810;
    min-height: 95vh;
    width: auto;
  }
  
  a{
    text-decoration: none;
  }
  

  