<section class="mechanic">
    <div class="row">
        <div class="col-sm-3">
            <app-sidebarmechanic></app-sidebarmechanic>
        </div>
        <div class="col-sm-9">
            <div class="form1">
                <br>
                <h1 class="title">Información personal</h1>
                <br>
                <div class="row">
                    <div class="col-sm-4"> 
                        <div class="form-group">
                            <label for="uname">Nombre:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca su nombre" name="uname" required>
                            <div class="valid-feedback">Nombre válido.</div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Apellido:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca su apellido" name="uname" required>
                            <div class="valid-feedback">Apelldio válido.</div>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="uname">Cedula:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca su cedula" name="uname" required>
                            <div class="valid-feedback">Cedula válida.</div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Correo electrónico:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@gmail.com" required>
                            <div class="valid-feedback">Correo válido.</div>
                        </div>
                        <br>
                    </div>
                </div>
                <hr>
                <br>
                
                
            </div>
        
            <div class="form1">
                <br>
                <h1 class="title">Solicitud de afiliación</h1>
                <br>
                <div class="row">
                    <div class="col-sm-4"> 
                        <div class="form-group">
                            <label for="uname">Nombre:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca su nombre" name="uname" required>
                            <div class="valid-feedback">Nombre válido.</div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Dirección:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca su dirección" name="uname" required>
                            <div class="valid-feedback">Dirección válida.</div>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="uname">Tipo:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca el tipo de taller" name="uname" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="uname">Certificado:</label>
                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                        <br>
                    </div>
                </div>
                <hr>
            </div>
            <div class="btnsend">
                <button style="text-align: center;" type="button" class="btn-dark">Enviar</button>
            </div>
        </div>
    </div>
    
    
        
    
</section>
