<app-navbar2></app-navbar2>
<section class="form" style="background-color: #efb810;">
    <br>
    <form class="was-validated">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="uname">Nombre:</label>
                    <input type="text" class="form-control" id="uname" placeholder="Introduzca su nombre" name="uname" required>
                    <div class="valid-feedback">Nombre válido.</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="uname">Correo electrónico:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@gmail.com" required>
                    <div class="valid-feedback">Correo válido.</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="uname">Dirección:</label>
                    <input type="text" class="form-control" id="uname" placeholder="Introduzca la dirección del Taller" name="uname" required>
                    <div class="valid-feedback">Dirección válida.</div>
                    <br>
                    <div class="invalid-feedback">Por favor llena todos los campos.</div>
                    <br>
                    <img src="../../../assets/images/avatar.png" style="max-width: 100px;">
                    <button type="button" class="btn btn-outline-dark btn-sm" style="margin-left: 10px;">Subir una imagen</button>
                  </div>
            </div>
            <br>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="uname">Apellido:</label>
                    <input type="text" class="form-control" id="uname" placeholder="Introduzca su apellido" name="uname" required>
                    <div class="valid-feedback">Apelldio válido.</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="uname">Taller mecánico:</label>
                    <input type="text" class="form-control" id="uname" placeholder="Introduzca el nombre del Taller" name="uname" required>
                    <div class="valid-feedback">Nombre válido.</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="pwd">Contraseña:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Introduzca su contraseña" name="pswd" required>
                    <div class="valid-feedback">Contraseña válida.</div>
                </div>

            </div>
        </div>
        <br>
        <button type="submit" class="btn-dark">Enviar</button>
      </form>
      <br><br>
      <section class="footer" style="background-color: #ddad3c;">
        <h1>Este formulario de registro envia una solicitud al administrador para poder formar 
            parte de MecaniApp</h1>
    </section>
</section>
